.btn {
    background-color: $main-color;
    border: none;
    width: 200px;
    padding: 10px 0 10px 0;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: all 1s;
    border-radius: 40px;
    &:hover {
        box-shadow: 3px 3px 20px $main-color;
    }
}

.button_mini {
    margin: 0 auto;
}

.button_submit {
    margin: 0 auto;
}