.description {
    padding: 50px 0;
    background: url('../img/night.jpg') repeat center center/cover;
    transition: all 1s;
    min-height: 850px;
    position: relative;
    &_active {
        background: url('../img/day.jpg') repeat center center/cover;
        
        
    }

    &__title {
        color: $description-color;
    }
    &__txt{
        margin-top: 40px;
        &__elem{
            margin-top: 10px;
            color: $description-color;
        }

    }
    &__subtitle {
        text-align: center;
        margin-top: 40px;
        color: $description-color;
    }

    &__moon {
        right: 80px;
        position: absolute;
        cursor: pointer;
        transition: all 1s;
        img {
            height: 100px;
        }
        &_active{
            transition: all 1s;
            opacity: 0;
        }
    }
    &__sun {
        opacity: 0;
        top: 25px;
        right: 60px;
        position: absolute;
        cursor: pointer;
        transition: all 1s;
        img {
            height: 150px;
        }
        &_active{
            transition: all 1s;
            opacity: 1;
        }
    }

    &__night-color {
        color: $night-color;
    }
}