.description {
    padding: 60px 0;
    background: #EFF8EE;
    transition: all 1s;
    min-height: 650px;
    background-size: 200px auto;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        width: 50%;
    }

    &__bg_boy {
        width: 50%;
        img {
            width: 100%;
        }
    }

    &__title {
        font-size: 58px;
        line-height: 80px;
        text-align: left;
        margin-top: 35px;
    }
    &__txt{
        margin-top: 35px;
        font-size: 20px;
        font-weight: 400;
    }
    &__subtitle {
        color: #96BB7C;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    &__btn {
        margin-top: 35px;
    }
    &__btn_promo{
        width: 305px;
        height: 50px;
    }
    &__btn_second{
        width: 165px;
        height: 50px;
        background: none;
        border: solid 1px $main-color;
        a {
            text-decoration: none;
            color: $main-color;
        }
    }

}