.description {
    padding: 50px 0;
    background: url('../img/description_bg.jpg') repeat center/cover;
    transition: all 20s;

    h2 {
        color: white;
    }
    ul{
        margin-top: 40px;
        li{
            margin-top: 10px;
            color: white;
        }

    }
    &__subtitle {
        text-align: center;
        margin-top: 40px;
        color: white;
    }
}