.overlay,.overplay,.thank,.errors {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.56);
}
.entrance {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.entrance__src {
    text-align: center;
    margin: 20px auto 0;
    text-decoration: none;
}

.modal {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background: #f2f2f2;
    padding: 30px 40px;
    max-height: 1200px;
    
    &__footer {
        display: block;
        position: static;
        transform: none;
        margin: 0 auto;
        background: #EFF8EE;
    }

    &_mini {
        min-height: 150px;
    }

    &__video {
        width: 900px;
        background: none;
        text-align: center;
    }
    &__close, &__close-video, &__close-error {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 40px;
        line-height: 20px;
        color: $main-color ;
        cursor: pointer;
        z-index: 2;
    }
    &__close-video{
        font-size: 80px;
        right: 140px;
    }
    iframe {
        height: 400px;
        width: 600px;
    }
    &__title {
        font-size: 16px;
        text-transform: none;
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 10px;
        width: 300px;
    }
    &__week,&__time {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 150px;
        margin: 0 auto 10px;
        &__item {
            color: $main-color;
            margin: 0 5px;
            width: 40px;
            cursor: pointer;
            background: none;
            border: solid 1px $main-color;
            border-radius: 40px;
            margin-top: 15px;
            transition: all 1s;
            &:hover {
                box-shadow: 3px 3px 20px $main-color;
            }
            &_active {
                background: $main-color;
                color: white;
            }
        }
        
    }
    &__time {
        width: 300px;
        &__item {
            width: 100px;
            &:hover {
                box-shadow: 3px 3px 20px $main-color;
            }
        }
    }
    .checkbox {
        position: absolute;
        opacity: 0;
        z-index: -2;

    }
    .result {
        display: none;
    }
}

@media (max-width: 767px) {
    .modal {
        iframe {
            width: 400px;
        }
        &__close-video{
            font-size: 40px;
            right: 250px;
        }
    }
}

@media (max-width: 575px) {
    .overlay {
        padding: 0;
    }
    .modal {
            padding: 10px;
            width: 270px;
            &__time {
                width: 245px;
                &__item {
                    margin-top: 5px;
                }
            }
            &__close {
                top: 10px;
                right: 10px;  
            }

            &__week {
                margin-bottom: 10px;
            }
            .error {
                font-size: 12px;
                margin-bottom: 5px;
            }
            iframe {
                width: 240px;
                height: 100px;
            }
            &__close-video{
                font-size: 40px;
                right: 0px;
            }
            
        }
    
    
}

