@import "base/variables.scss";

* {
    margin: 0;
    font-family: "Manrope", sans-serif;
}


@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.WeDo_2{
    color: #9D33DB;
    text-transform: uppercase;
}

.Scratch{
    color: #F59D1E;
    text-transform: uppercase;
}

@import "blocks/header.scss";
@import "blocks/button.scss";
@import "blocks/catalog.scss";
@import "blocks/title.scss";
@import "blocks/modal.scss";
@import "blocks/forms.scss";
@import "blocks/footer.scss";
@import "blocks/description.scss";
@import "blocks/scratch.scss";
@import "blocks/box.scss";
@import "blocks/video.scss";
@import "blocks/sending.scss";